Repository fidrasofyan/hono-starter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, code-check, lint-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "*.{js,ts}"
      run: bun tsc --noEmit
    code-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    lint-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun biome lint --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

chore: bump deps
  bun.lockb
  package.json
Due: code-check, lint-check

chore(tsconfig): include all tables containing ts files
  tsconfig.json
Due: code-check, lint-check

refactor: use route chaining
  src/app/user/user.app.ts
  src/middleware/authentication.ts
  src/middleware/index.ts
  src/routes.ts
Due: type-check, code-check, lint-check

fix: handle HTTPException properly
  .env.example
  src/app.ts
Due: type-check, code-check, lint-check

feat: set jwt token expiration via env variable
  .env.example
  biome.json
  prisma/seed.ts
  src/app.ts
  src/app/user/handlers/get-token.ts
  src/app/user/handlers/login.ts
  src/config.ts
  src/database/kysely.ts
  src/middleware/authentication.ts
  src/server.ts
  utils/generate-jwt-secret.ts
Due: type-check, code-check, lint-check

feat: websocket
  biome.json
  prisma/migrations/20241016060419_initial_migration/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/app.ts
  src/app/user/handlers/get-token.ts
  src/app/user/handlers/get-user-info.ts
  src/app/user/handlers/login.ts
  src/database/types.ts
  src/middleware/authentication.ts
  src/server.ts
  src/service/emitter.ts
  src/service/websocket.ts
  src/types.ts
  src/websocket.ts
  test/e2e/user.http
Due: type-check, code-check, lint-check

chore: use Bun text lockfile
  bun.lock
  bun.lockb
Due: none

chore: bump deps
  bun.lock
  package.json
Due: code-check, lint-check

chore: docker support
  .dockerignore
  .env.example
  .gitignore
  Dockerfile
  compose.example.yaml
  start.sh
Due: none

chore: bump deps
  .vscode/settings.json
  bun.lock
  package.json
Due: code-check, lint-check

feat: add validator helper
  .vscode/app.code-snippets
  src/app/user/handlers/get-token.ts
  src/app/user/handlers/login.ts
  src/lib/common.ts
Due: type-check, code-check, lint-check

chore: update README.md
  README.md
Due: none

bump deps
  bun.lock
  package.json
Due: code-check, lint-check

chore: validate config
  src/config.ts
Due: type-check, code-check, lint-check

bump deps
  Dockerfile
  biome.json
  bun.lock
  package.json
  prisma/schema.prisma
  src/app/role/handler/create-role.ts
  src/app/role/handler/delete-role.ts
  src/app/role/handler/get-permissions.ts
  src/app/role/handler/get-role-detail.ts
  src/app/role/handler/get-roles.ts
  src/app/role/handler/update-role.ts
  src/app/user/handler/change-password.ts
  src/app/user/handler/change-self-password.ts
  src/app/user/handler/create-user.ts
  src/app/user/handler/delete-user.ts
  src/app/user/handler/get-current-user.ts
  src/app/user/handler/get-token.ts
  src/app/user/handler/get-user-detail.ts
  src/app/user/handler/get-users.ts
  src/app/user/handler/login.ts
  src/app/user/handler/update-user.ts
  src/database/kysely.ts
  src/lib/common.ts
  src/lib/jwt.ts
  src/middleware/authentication.ts
  src/middleware/authorization.ts
Due: type-check, code-check, lint-check
